<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
<style>
 #topnav {
   width: 100%;

   position: fixed;
   top: 0;
   left: 0;

   background-color: Black;

   font-family: Arial, sans-serif;
   font-size: 15px;
}
.nav-link {
   display: inline-block;
   width: 100px;
   height: 55px;

   color: White;

   /* centering text */
   text-align: center;    /* horizontally */
   line-height: 55px;     /* vertically */

   text-decoration: none;
}
</style>
<nav id="topnav">
         <a id="logo" class="nav-link" href="#">MY NAME</a>
         <a class="nav-link" href="/About">About us</a>
</nav>
<br>
<br>

<h1>Main Page</h1>
<p>Welcome to the main Page</p>
</body>
</html>